# Dissimilarity (Tugas 1)

**Tugas**

*   Cari dataset dari url
*   Tentukan Dissimilarity between binary variable
*   Ukur Jarak d(1,2)
*   Ukur Jarak d(1,3)
*   Ukur Jarak d(1,4)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Membuat dataset
url_dataset = "https://raw.githubusercontent.com/M-ILHAM-197/dataset/main/Train.csv"
df = pd.read_csv(url_dataset, index_col = 'ID')

In [ ]:
df

,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
ID,,,,,,,,,,,
1,D,Flight,4,2,177,3,low,F,44,1233,1
2,F,Flight,4,5,216,2,low,M,59,3088,1
3,A,Flight,2,2,183,4,low,M,48,3374,1
4,B,Flight,3,3,176,4,medium,M,10,1177,1
5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...
645,A,Ship,6,4,121,5,low,M,23,1734,1
646,B,Ship,4,2,124,3,high,M,60,1107,1
647,C,Ship,4,2,153,3,medium,F,53,1185,1
648,F,Ship,5,2,105,4,high,M,1,1622,1
649,D,Ship,4,3,202,3,medium,M,2,3962,1

In [ ]:
columns_number = df.shape[1]

In [ ]:
pd.set_option('display.max_columns', columns_number)
pd.set_option('display.max_rows', columns_number)

In [ ]:
df.columns

Index(['Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms',
       'Reached.on.Time_Y.N'],
      dtype='object')

In [ ]:
df[["Warehouse_block", "Cost_of_the_Product", "Gender"]].head(10)

   Warehouse_block  Cost_of_the_Product Gender
ID
1                D                  177      F
2                F                  216      M
3                A                  183      M
4                B                  176      M
5                C                  184      F
6                F                  162      F
7                D                  250      F
8                F                  233      F
9                A                  150      F
10               B                  164      F

In [ ]:
code_gender_for_male = "M"
code_gender_for_female = "F"

one_value = 1
zero_value = 0

def change_gender_to_biner(gender):
  return one_value if gender == code_gender_for_female else zero_value

In [ ]:
df["Gender"] = df["Gender"].apply(change_gender_to_biner)

In [ ]:
df[["Warehouse_block", "Cost_of_the_Product", "Gender"]].head(10)

   Warehouse_block  Cost_of_the_Product  Gender
ID
1                D                  177       1
2                F                  216       0
3                A                  183       0
4                B                  176       0
5                C                  184       1
6                F                  162       1
7                D                  250       1
8                F                  233       1
9                A                  150       1
10               B                  164       1

In [ ]:
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}

In [ ]:
def get_series(df, idx, series):
  return df.loc[(idx), series]

In [ ]:
def dissimilarity_dataset(df, series_index = [], series = []):
  first_series = get_series(df, series_index[0], series)
  second_series = get_series(df, series_index[1], series)
  dataset = pd.concat([first_series, second_series], axis = 1)
  return dataset.T

In [ ]:
dissimilarity_dataset(df, [1,2], ["Warehouse_block", "Gender"]).T

                 1  2
Warehouse_block  D  F
Gender           1  0

In [ ]:
df.loc[0:10, ["Warehouse_block", "Gender"]]

   Warehouse_block  Gender
ID
1                D       1
2                F       0
3                A       0
4                B       0
5                C       1
6                F       1
7                D       1
8                F       1
9                A       1
10               B       1

In [ ]:
def count_contingency_value(df, start_index = 0, last_index = 1):
  CONTINGENCY_VALUE = {
      "q" : 0,
      "r" : 0,
      "s" : 0,
      "t" : 0,
  }
  column_range = df.shape[1]
  for column in range(column_range):
    for value in CONTINGENCY_TABLE_VALUE:
      item = list((tuple(df.loc[(start_index):(last_index), df.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
      if item[0] == True:
        if item[1] =="q":
          CONTINGENCY_VALUE["q"] +=1
        if item[1] =="r":
          CONTINGENCY_VALUE["r"] +=1
        if item[1] =="s":
          CONTINGENCY_VALUE["s"] +=1
        if item[1] =="t":
          CONTINGENCY_VALUE["t"] +=1
  return CONTINGENCY_VALUE

In [ ]:
# d(1,2)
df_1_2 = dissimilarity_dataset(df, [1,2], ["Warehouse_block", "Gender"])

In [ ]:
c_d_1_2 = count_contingency_value(df_1_2, 1, 2)

In [ ]:
# d(1,3)
df_1_3 = dissimilarity_dataset(df, [1,3], ["Warehouse_block", "Gender"])

In [ ]:
c_d_1_3 = count_contingency_value(df_1_3, 1, 3)

In [ ]:
# d(1,4)
df_1_4 = dissimilarity_dataset(df, [1,4], ["Warehouse_block", "Gender"])

In [ ]:
c_d_1_4 = count_contingency_value(df_1_4, 1, 4)

In [ ]:
# d(1,5)
df_1_5 = dissimilarity_dataset(df, [1,5], ["Warehouse_block", "Gender"])

In [ ]:
c_d_1_5 = count_contingency_value(df_1_5, 1, 5)

In [ ]:
# d(1,6)
df_1_6 = dissimilarity_dataset(df, [1,6], ["Warehouse_block", "Gender"])

In [ ]:
c_d_1_6 = count_contingency_value(df_1_6, 1, 6)

In [ ]:
# d(1,7)
df_1_7 = dissimilarity_dataset(df, [1,7], ["Warehouse_block", "Gender"])

In [ ]:
c_d_1_7 = count_contingency_value(df_1_7, 1, 7)

In [ ]:
# d(1,8)
df_1_8 = dissimilarity_dataset(df, [1,8], ["Warehouse_block", "Gender"])

In [ ]:
c_d_1_8 = count_contingency_value(df_1_8, 1, 8)

In [ ]:
# d(1,9)
df_1_9 = dissimilarity_dataset(df, [1,9], ["Warehouse_block", "Gender"])

In [ ]:
c_d_1_9 = count_contingency_value(df_1_9, 1, 9)

In [ ]:
# d(1,10)
df_1_10 = dissimilarity_dataset(df, [1,10], ["Warehouse_block", "Gender"])

In [ ]:
c_d_1_10 = count_contingency_value(df_1_10, 1, 10)

In [ ]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [ ]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_3)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_4)

In [ ]:
d_1_2

1.0

In [ ]:
d_1_3

1.0

In [ ]:
d_1_4

1.0